/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

/* Shared style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    margin-top: 20px;
    display: inline-flex;
    padding: 15px 30px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: 0;

}

.section-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* Header style start */
nav {
    padding: 30px 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav,
.logo,
.nav-items,
.nav-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-items,
.nav-items a,
.nav-icon-items {
    margin-right: 20px;
}

.span-g {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-name {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-items a,
.nav-icon-items {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-icon {
    width: 18.375rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding-left: 20px;
}

/* header end */

/* Banner style start */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-info {
    position: relative;
    width: 365px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
}

.bg-image img {
    height: 100vh;
    width: 80%;
}

.bg-image {
    position: absolute;
    top: 20%;
    left: 0px;
}

.banner-title,
.goat {
    font-size: 5.9375rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner li {
    list-style: none;
}

.banner li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sign-in {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.go {
    background-color: #4EC5F7;
}

/* banner style end */

/* Online game style start*/
.online-game-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.game-title {
    text-align: center;
    text-transform: none;
    font-weight: 700;
}

.funny {


    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-description {
    text-align: center;
    color: #534C64;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.875rem;
    padding-top: 10px;
    padding-bottom: 30px
}

.game-card-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.game-card img {
    width: 280px;
    height: 290px;
}

.card-caption {
    width: 280px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    padding-top: 20px;
}

/* .game-card-container .game-card .bonus-part {
    width: 280px;
    height: 290px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(../images/Rectangle7.png);
    position: relative;
} */

.watch-now {
    display: none;
}

.game-card:hover .watch-now {
    cursor: pointer;
    width: 113px;
    height: 60px;
    text-align: center;
    position: relative;
    left: 90px;
    bottom: 270px;
    color: #FF42A5;

}

.game-card-container .game-card:hover .game-card .bonus-part {
    width: 280px;
    height: 290px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(../images/Rectangle7.png);
    position: relative;
}

.watch-now-design {
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Play instant style */
.play-instant-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding-right: 100px;
}

.play-instant-info {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.play-instant-title {
    text-transform: none;
    width: 400px;
    height: 180px;
    text-align: left;
}

.play-instant-description {
    text-align: left;
    width: 400px;
    height: 90px;
}

.big {
    width: 480px;
    height: 500px;
    position: relative;
    left: 135px;
}

.small {
    width: 300px;
    height: 290px;
    position: relative;
    bottom: 120px;
    left: 450px;
}

/* gamefeatures style */
.game-features-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 130px;
    gap: 30px;
    padding: 0px 130px 100px 130px;
}

.feature-item img {
    width: 36px;
    height: 36px;
}

.feature-item {
    width: 150px;
    height: 30px;
    font-size: 0.8rem;
    color: #0B0223;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    padding: 10px;
}

.feature-item:hover {
    cursor: pointer;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-radius: 50px;
    background: #FFF;
    border: 1px solid #FF42A5;
    color: #FF42A5;
}

/*gamefeatures style end  */

footer {
    max-width: 100%;
    background-color: #0B0223;
    color: #FFF;
    padding: 50px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.foter-logo-name {
    font-size: 2.8rem;
    font-weight: 700;
}

.footer-link-description,
.social-link,
.footer-service,
.footer-copyright-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-link-description,
.footer-service {
    padding: 30px;
}

.footer-link-description {
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
}

.footer-service,
.footer-copyright-text{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 575px) {
    nav,
    .nav-items,
    .game-card-container,
    .play-instant-container {
        flex-direction: column;
    }

    nav,
    .nav-items {
        gap: 1.5rem;
    }
    .logo-name{
        font-size: 2rem;
    }
    nav {
        box-shadow: none;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner .banner-image img {
        width: 350px;
        height: 400px;
        padding-left: 0px;
    }

    .banner-info-center {
        display: flex;
        align-items: center;
    }

    .banner-info {
        position: relative;
        width: 365px;
        height: 100%;
        left: 0%;
        padding-bottom: 70px;
    }

    .bg-image img {
        width: 80%;
        height: 80vh;
    }

    .bg-image {
        position: absolute;
        top: 145%;
        left: 15%;
    }

    .game-card-container,
    .play-instant-container {
        align-items: center;
    }

    .online-game-container {
        padding-top: 0px;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .goat {
        font-size: 3rem;
    }

    .banner li {
        font-size: 1rem;
    }

    .game-title {
        font-size: 2rem;
    }
    .play-instant-container{
        width: 100%;
    }
    .big{
        width: 240px;
        height: 270px;
        left: 0px;
        top: 0px;
        padding-bottom: 20px;
    }
    .small{
        display: none;
    }
    .play-instant-container{
        display: flex;
    }
    .play-instant-container {
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .play-instant-info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .play-instant-title,
    .play-instant-description {
        text-align: center;
        width: 280px;
        height: 100px;
        padding: 10px;
    }

    .feature-item img {
        width: 24px;
        height: 24px;
    }
    .feature-item {
        max-width: 300px;
        height: 30px;
        font-size: 0.8rem;
        color: #0B0223;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        padding: 10px;
    }

    .feature-item:hover {
        cursor: pointer;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        border-radius: 30px;
        background: #FFF;
        border: 1px solid #FF42A5;
        color: #FF42A5;
    }

    .game-features-container {
        display: grid;
        grid-template-columns: repeat(3, 120px);
        column-gap: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    footer {
        width: 100%;
        background-color: #0B0223;
        color: #FFF;
        padding: 50px 0px;
    }
    
    .footer-logo {
        gap: 10px;
    }
    
    .foter-logo-name {
        font-size: 2rem;
    }
    
    .footer-link-description,
    .social-link,
    .footer-service,
    .footer-copyright-text {
        gap: 20px;
    }
    
    .footer-link-description,
    .footer-service {
        padding: 10px 0px;
    }
    
    .footer-link-description {
        font-size: 0.8rem;
    }
    
    .footer-service,
    .footer-copyright-text {
        font-size: 0.8rem;
    }
    .social-link img{
        width: 24px;
        height: 24px;
    }
}
@media screen and (min-width: 576px) and (max-width:920px){
    nav,
    .nav-items,
    .game-card-container,
    .play-instant-container {
        flex-direction: column;
    }

    nav,
    .nav-items {
        gap: 1.5rem;
    }
    .logo-name{
        font-size: 2rem;
    }
    nav {
        box-shadow: none;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner .banner-image img {
        width: 350px;
        height: 400px;
        padding-left: 0px;
    }

    .banner-info-center {
        display: flex;
        align-items: center;
    }

    .banner-info {
        position: relative;
        width: 365px;
        height: 100%;
        left: 0%;
        padding-bottom: 70px;
    }

    .bg-image img {
        width: 60vw;
        height: 40vh;
    }

    .bg-image {
        position: absolute;
        top: 70%;
        left: 20%;
    }

    .game-card-container,
    .play-instant-container {
        align-items: center;
    }

    .online-game-container {
        padding-top: 0px;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .goat {
        font-size: 3rem;
    }

    .banner li {
        font-size: 1rem;
    }

    .game-title {
        font-size: 2rem;
    }
    .play-instant-container{
        width: 100%;
    }
    .big{
        width: 240px;
        height: 270px;
        left: 0px;
        top: 0px;
        padding-bottom: 20px;
    }
    .small{
        display: none;
    }
    .play-instant-container{
        display: flex;
    }
    .play-instant-container {
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .play-instant-info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .play-instant-title,
    .play-instant-description {
        text-align: center;
        width: 280px;
        height: 100px;
        padding: 10px;
    }

    .feature-item img {
        width: 24px;
        height: 24px;
    }
    .feature-item {
        max-width: 300px;
        height: 30px;
        font-size: 0.8rem;
        color: #0B0223;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        padding: 10px;
    }

    .feature-item:hover {
        cursor: pointer;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        border-radius: 30px;
        background: #FFF;
        border: 1px solid #FF42A5;
        color: #FF42A5;
    }

    .game-features-container {
        display: grid;
        grid-template-columns: repeat(3, 120px);
        column-gap: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    footer {
        width: 100%;
        background-color: #0B0223;
        color: #FFF;
        padding: 50px;
    }
    
    .footer-logo {
        gap: 10px;
    }
    
    .foter-logo-name {
        font-size: 2rem;
    }
    
    .footer-link-description,
    .social-link,
    .footer-service,
    .footer-copyright-text {
        gap: 20px;
    }
    
    .footer-link-description,
    .footer-service {
        padding: 10px 0px;
    }
    
    .footer-link-description {
        font-size: 0.8rem;
    }
    
    .footer-service,
    .footer-copyright-text {
        font-size: 0.8rem;
    }
    .social-link img{
        width: 24px;
        height: 24px;
    }
}