/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

/* Shared style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    margin-top: 20px;
    display: inline-flex;
    padding: 15px 30px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: 0;

}

.section-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* Header style start */
nav {
    padding: 30px 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav,
.logo,
.nav-items,
.nav-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-items,
.nav-items a,
.nav-icon-items {
    margin-right: 20px;
}

.span-g {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-name {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-items a,
.nav-icon-items {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-icon {
    width: 18.375rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding-left: 1.25rem;
}

/* header end */

/* Banner style start */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-info {
    position: relative;
    width: 365px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
}

.bg-image img {
    height: 100vh;
    width: 80%;
}

.bg-image {
    position: absolute;
    top: 20%;
    left: 0px;
}

.banner-title,
.goat {
    font-size: 5.9375rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner li {
    list-style: none;
}

.banner li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sign-in {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.go {
    background-color: #4EC5F7;
}

/* banner style end */

/* Online game style start*/
.online-game-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.game-title {
    padding-top: 15vh;
    text-align: center;
    text-transform: none;
    font-weight: 700;
}

.color {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-description {
    text-align: center;
    color: #534C64;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.875rem;
    padding-top: 10px;
    padding-bottom: 30px;
}

.game-card-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.game-card img {
    width: 280px;
    height: 290px;
}

.card-caption {
    width: 280px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    padding-top: 20px;
}

.watch-now-design {
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-card {
    position: relative;
}

.image {
    width: 280px;
    height: auto;
    backface-visibility: hidden;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.game-card:hover .image {
    cursor: pointer;
    border: 1px solid #FF42A5;
    border-radius: 16px;
}

.game-card:hover .overlay {
    opacity: 1;
}

/* Play instant style */
.play-instant-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding-bottom: 30vh;
}

.play-instant-info {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.play-instant-title {
    text-transform: none;
    width: 400px;
    height: 180px;
    text-align: left;
}

.play-instant-description {
    text-align: left;
    width: 400px;
    height: 90px;
}

.big {
    width: 30vw;
    height: 60vh;
    position: relative;
    left: 0;
}

.small {
    width:15vw;
    height: 40vh;
    position: relative;
    top: 15vh;
    right: 10vw;
}

/* gamefeatures style */
.game-features-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 15vw;
}

.features {
    display: flex;
    gap: 60px;
    margin-bottom: 100px;
}

.feature-item img {
    width: 36px;
    height: 36px;
}

.feature-item {
    width: 140px;
    height: 30px;
    font-size: 0.8rem;
    color: #0B0223;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    padding: 10px;
}

.feature-item:hover {
    cursor: pointer;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-radius: 50px;
    background: #FFF;
    border: 1px solid #FF42A5;
    color: #FF42A5;
}

/*gamefeatures style end  */

footer {
    width: 100vw;
    background-color: #0B0223;
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.foter-logo-name {
    font-size: 2.8rem;
    font-weight: 700;
}

.footer-link-description,
.social-link,
.footer-service,
.footer-copyright-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-link-description,
.footer-service {
    padding: 30px;
}

.footer-link-description {
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
}

.footer-service,
.footer-copyright-text {
    color: rgba(255, 255, 255, 0.60);
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 575px) {

    nav,
    .nav-items,
    .game-card-container,
    .play-instant-container {
        flex-direction: column;
    }

    nav,
    .nav-items {
        font-size: 1rem;
        gap: 1.5rem;
    }

    .nav-icon {
        width: 18.375rem;
    }

    .logo-name {
        font-size: 1.8rem;
    }

    nav {
        box-shadow: none;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .banner .banner-image img {
        width: 100%;
        height: 90%;
        padding: 0;
    }

    .banner-info-center {
        display: flex;
        align-items: center;
    }

    .banner-info {
        margin: 0 auto;
        position: static;
        width: 75%;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .bg-image img {
        width: 80%;
        height: 80vh;
    }

    .bg-image {
        position: absolute;
        top: 145%;
        left: 15%;
    }

    .game-card-container,
    .play-instant-container {
        align-items: center;
    }

    .play-instant-info {
        text-align: center;
        padding-bottom: 0px;
    }

    .online-game-container {
        padding-top: 0px;
    }

    .game-card .image {
        width: 60vw;
        height: 40vh;
    }
    .card-caption{
        width: 60vw;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .goat {
        font-size: 3rem;
    }

    .banner li {
        font-size: 1rem;
    }

    .bg-image img {
        display: none;
    }

    .game-title {
        font-size: 2rem;
    }

    .play-instant-container {
        width: 100%;
        display: flex;
    }

    .big {
        width: 50vw;
        height: 30vh;
        left: 20px;
        top: 0vh;
    }

    .small {
        width: 30vw;
        height: 15vh;
        left: -20vw;
        top: 5vh;

    }

    .play-instant-container {
        display: flex;
    }

    .play-instant-container {
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .play-instant-title,
    .play-instant-description {
        text-align: center;
        width: 80%;
        height: 70%;
        padding: 10px;
    }

    .play-instant-container {
        padding-bottom: 7rem;
        padding-left: 0;
        padding-right: 0;
    }

    .feature {
        justify-content: center;
        align-items: center;

    }

    .feature-item img {
        width: 20%;
        height: 100%;
    }

    .feature-item {
        width: 25vw;
        height: 4vh;
        font-size: 0.5rem;
        color: #0B0223;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100%;
        padding: 0px;
    }

    .feature-item:hover {
        cursor: pointer;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        border-radius: 30px;
        background: #FFF;
        border: 1px solid #FF42A5;
        color: #FF42A5;
    }

    .game-features-container {
        display: grid;
        grid-template-columns: repeat(3, 25vw);
        column-gap: 10px;
        justify-content: center;
        align-items: center;
        margin: 6vw;

    }

    .footer {
        width: 100vw;
        height: auto;
        color: #FFF;
        justify-content: flex-start;
    }

    .footer-logo {
        gap: 10px;
    }

    .foter-logo-name {
        font-size: 2rem;
    }

    .footer-link-description,
    .social-link,
    .footer-service,
    .footer-copyright-text {
        gap: 1.25rem;
    }

    .footer-link-description {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, 25vw);
        padding-top: 5vh;
        padding-bottom:5vw;
    }

    .social-link {
        display: grid;
        grid-template-columns: repeat(3, 10vw);
        padding: 5px 0px;
    }

    .footer-service {
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        padding: 5px 0px;
    }

    .footer-link-description {
        font-size: 0.8rem;
    }

    .footer-service,
    .footer-copyright-text {
        font-size: 0.8rem;
    }

    .social-link img {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 576px) and (max-width:920px) {

    nav,
    .nav-items,
    .game-card-container,
    .play-instant-container {
        flex-direction: column;
    }

    nav,
    .nav-items {
        gap: 1.5rem;
    }

    .logo-name {
        font-size: 2rem;
    }

    nav {
        box-shadow: none;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner .banner-image img {
        width: 350px;
        height: 400px;
        padding-left: 0px;
    }

    .banner-info-center {
        display: flex;
        align-items: center;
    }

    .banner-info {
        position: relative;
        width: 365px;
        height: 100%;
        left: 0%;
        padding-bottom: 70px;
    }

    .bg-image img {
        width: 60vw;
        height: 40vh;
    }

    .bg-image {
        position: absolute;
        top: 70%;
        left: 20%;
    }

    .game-card-container,
    .play-instant-container {
        align-items: center;
    }

    .online-game-container {
        padding-top: 0px;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .goat {
        font-size: 3rem;
    }

    .banner li {
        font-size: 1rem;
    }

    .game-title {
        font-size: 2rem;
        height: 100%;
    }

    .play-instant-container {
        width: 100%;
    }


    .play-instant-container {
        display: flex;
    }

    .play-instant-container {
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .play-instant-info {
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }

    .play-instant-title,
    .play-instant-description {
        text-align: center;
    }
    .play-instant-title{
        height: auto;
        padding-bottom: 20px;
    }
    .feature {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: flex-start;
    }

    .feature-item img {
        width: 24px;
        height: 24px;
    }

    .feature-item {
        max-width: 300px;
        height: 30px;
        font-size: 0.8rem;
        color: #0B0223;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        padding: 10px;
    }

    .feature-item:hover {
        cursor: pointer;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        border-radius: 30px;
        background: #FFF;
        border: 1px solid #FF42A5;
        color: #FF42A5;
    }

    .game-features-container {
        display: grid;
        grid-template-columns: repeat(3, 120px);
        column-gap: 30px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 30vh;
    }

    .big {
        width: 50vw;
        height: 60vh;
        left: 20px;
        top: 0vh;
    }

    .small {
        width: 25vw;
        height: 40vh;
        left: -10vw;
        top: 10vh;

    }

    .footer {
        width: 100vw;
        /* background-color: #0B0223; */
        color: #FFF;
        padding: 50px 0px;
        justify-content: center;
    }

    .footer-logo {
        gap: 10px;
    }

    .foter-logo-name {
        font-size: 2rem;
    }

    .footer-link-description,
    .social-link,
    .footer-service,
    .footer-copyright-text {
        gap: 20px;
        flex-wrap: wrap;
    }

    .footer-link-description,
    .footer-service {
        padding: 10px 0px;
    }

    .footer-link-description {
        font-size: 0.8rem;
    }

    .footer-service,
    .footer-copyright-text {
        font-size: 0.8rem;
    }

    .social-link img {
        width: 24px;
        height: 24px;
    }
}